canvas.rv-xy-canvas-element {
    width: inherit !important;
    height: inherit !important;
}

.timelineContainer {
    grid-area: timeline;
}

body {
    margin: 0;
}

h2 {
    font-size: 1em;
    font-family: sans-serif;
}

img.timeAnchor{
    height: 1em;
}

span.regionTitle{
    font-weight: bold;
}
