canvas.rv-xy-canvas-element {
    width: inherit !important;
    height: inherit !important;
}

div.rv-xy-plot {
    overflow: hidden;
}

.vis-timeline {
    visibility: visible !important;
}

body {
    margin: 0;
}

h2 {
    font-size: 1em;
    font-family: sans-serif;
}

img.timeAnchor {
    height: 1em;
}

span.regionTitle {
    font-weight: bold;
}

.hidden {
    display: none;
}

/*.vis-timeline {*/
/*    visibility: visible !important;*/
/*}*/
